

body {
	cursor: cell;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.items {
	margin:10px;
	font-family: 'IBM Plex Sans', sans-serif; 
	text-align: center;
	border: 2px solid black;
	padding: 11px;
	width: 50%;
	color: #c9cfdd;
}


.items img {
	width: 100%;
}


.items:hover{
		color: #3c3b50;

}