/*this is your css file*/

body {
	cursor: cell;
	margin: 0;
}


header{
	text-align: center;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 4rem;
	color:  #eff5f5 ;
	margin-top: 0;

}

.images {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}



#my-square {
	width: 6rem;
	height: 6rem;
	margin:15rem;
	border-radius: 50%;
	transition:1s;
	display: flex;
	justify-content: center;
	align-items: center;
}

#my-square:hover {
	width: 18rem;
	height: 18rem;
	background-color: #eff5f5;
	margin: 11rem;
}



#my-square img {
	width: 200pt;
	transition:1s;
}

#my-square img:hover {
	width: 400pt;
}


